<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="../assets/logo.png" alt="Your Logo" style="height: 40px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="create-reservation">Reserve</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Data Management
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenu">
                <li><a class="dropdown-item" routerLink="categories">Categories List</a></li>
                <li><a class="dropdown-item" routerLink="create-categorie">Add Category</a></li>
                <li><a class="dropdown-item" routerLink="salles">Salles List</a></li>
                <li><a class="dropdown-item" routerLink="create-salle">Add Salle</a></li>
                <li><a class="dropdown-item" routerLink="reservations"> Reservations List</a></li>
                <li><a class="dropdown-item" routerLink="clients">Clients List</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" (click)="logout()">Logout</a>
            </li>
          </ul>
        </div>

      </div>
    </nav>
  </header>
  <router-outlet></router-outlet>
  <br>
  <br>
  <footer class="footer mt-auto py-3 bg-dark text-white">
    <div class="container text-center">
      <span></span>
    </div>
  </footer>
  </body>
